[submodule "claymore/dependencies/cebus"]
	path = claymore/dependencies/cebus
	url = https://github.com/Code-Nycticebus/cebus
  ignore = all
[submodule "claymore/dependencies/cglm"]
	path = claymore/dependencies/cglm
	url = https://github.com/recp/cglm.git
  ignore = all
